<div class="workbench page-stack">
  <.page_header title="Sources" subtitle="Sync media and manage source connections.">
    <:actions>
      <.link patch={~p"/configs/new"} class="workbench-button">Add source</.link>
    </:actions>
  </.page_header>
  <div class="settings-records" id="configs" phx-update="stream">
    <p id="configs-empty" class="stream-empty">
      No sources configured. Add a source to sync media.
    </p>
    <ReencodarrWeb.SourceComponents.source
      :for={{id, config} <- @streams.configs}
      id={id}
      config={config}
      sync={@syncs[config.service_type]}
    />
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="config-modal"
  show
  title={@page_title}
  on_cancel={JS.patch(~p"/configs")}
>
  <.live_component
    module={ReencodarrWeb.ConfigLive.FormComponent}
    id={@config.id || :new}
    title={@page_title}
    action={@live_action}
    config={@config}
    patch={~p"/configs"}
  />
</.modal>
