<div class="workbench page-stack">
  <.page_header title={"Library path #{@library.id}"}>
    <:actions>
      <.link patch={~p"/libraries/#{@library}/show/edit"} class="workbench-button">Edit library</.link>
    </:actions>
  </.page_header>
  <.panel>
    <.list>
      <:item title="Path">{@library.path}</:item>
      <:item title="Monitor">{@library.monitor}</:item>
    </.list>
  </.panel>
  <.back navigate={~p"/libraries"}>Back to library paths</.back>
</div>
<.modal
  :if={@live_action == :edit}
  id="library-modal"
  show
  title={@page_title}
  on_cancel={JS.patch(~p"/libraries/#{@library}")}
>
  <.live_component
    module={ReencodarrWeb.LibraryLive.FormComponent}
    id={@library.id}
    title={@page_title}
    action={@live_action}
    library={@library}
    patch={~p"/libraries/#{@library}"}
  />
</.modal>
